/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .footer-section .col-xl-4 .img-main {
    height: 56rem;
    width: 60rem;
  }

  .footer-section .col-xl-4 .row .col {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-section .button-link {
    margin-left: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.borders-section .border-bottom {
  width: 250px;
}

  .footer-section {
    margin-top: 5rem;
  }
  
  .footer-section .col-xl-4 .img-main {
    height: 50rem;
    width: 94rem;
  }

  .footer-section .col-xl-4 .row .col {
    margin-left: 15rem;
    margin-bottom: 5rem;
  }

  .footer-section .button-link {
    margin-left: 25rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .divider-section h2 {
    margin-left: 10rem;
  }

  .divider-section .border-start {
    height: 2px;
    width: 300px;
    margin-left: 20rem;
  }

  .divider-section p {
    margin-left: 7.5rem;
  }

  .borders-section {
    margin-left: 15rem;
  }

  .alt-divider-section h2 {
    margin-left: 10rem;
  }

  .alt-divider-section .border-start {
    height: 2px;
    width: 300px;
    margin-left: 20rem;
    margin-bottom: 1rem;
  }

  .alt-divider-section p {
    margin-left: 7.5rem;
  }

  .cards-section .card {
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: auto 0;
  }

  .footer-section{
    margin-top: 5rem;
  }

  .footer-section .col-xl-4 .img-main {
    height: 50rem;
    width: 70rem;
    margin-bottom: 2.5rem;
  }
  
  .footer-section .col-xl-4 .row .col {
    margin-left: 10rem;
    margin-bottom: 5rem;
  }

  .footer-section .button-link {
    margin-left: 15rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  
  /* Header */
  header {
    margin-bottom: 20rem;
  }

  /* Banner Section */
  .banner-section {
    padding: 5rem 0;
    margin-bottom: 10rem;
  }

  .banner-section h1 {
    font-size: 3.5rem;
  }

  /* Divider Section*/

  .divider-section .title,
  .divider-section .title-color   {
    font-size: 3rem;
  }

  .divider-section .description {
    font-size: 2rem;
  }
  
  .divider-section .col {
    padding-right: 0;
  }

  .divider-section h2 {
    margin-left: 3.5rem;
  }

  .divider-section .border-start {
    margin-left: 3.5rem;
    width: 200px;
  }
  .divider-section p {
    margin-left: 3.5rem;
  }

  /* Borders Section */
  .borders-section .border-bottom {
    margin-left: 0;
    width: 5rem;
    margin-bottom: 3rem;
  }

  .cards-section .card {
    margin-bottom: 5rem;
  }

  /* Alt Divider Section */

  .alt-divider-section {
    margin-bottom: 2.5rem;
  }

  .alt-divider-section .title,
  .alt-divider-section .title-color   {
    font-size: 3rem;
  }

  .alt-divider-section .description {
    font-size: 2rem;
  }

  .alt-divider-section .border-start {
    margin-left: 4rem;
    width: 200px;
  }
  
  .alt-divider-section h2 {
    margin-left: 3.5rem;
  }

  .alt-divider-section p {
    margin-left: 3.5rem;
  }

  /* Text Cards Section */
  .text-cards-section .border-bottom {
    margin-bottom: 2rem;
  }

  .text-cards-section .row .card-title h3 {
    font-size: 3rem;
  } 

  .icon-cards-section img {
    margin: 0;
  }

  .icon-cards-section h4 {
    text-align: center;
  }

  .icon-cards-section p {
    text-align: center;
  }
  
  /* Footer Section */

  .footer-section {
    margin-top: 0;
  }

  .footer-section .col-xl-4 .img-main {
    height: 40rem;
    width: 33rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .footer-section .col-xl-8 .list-group-item h4 {
    margin-left: 2rem;
  }

  .footer-section .col-xl-8 .list-group-item p {
    margin-left: 5rem;
  }

  .footer-section .row .col-6 img {
    margin-left: 1.5rem;
    margin-bottom: 5rem;
  }

  .footer-section .button-container .btn {
    margin-left: -14rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  
}









